# byte-compiled
__pycache__/
*.py[cod]
*$py.class

# virtual env
venv/
.venv/
env/

# dotenv
.env

# alembic
alembic/versions/__pycache__/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
